* {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    box-sizing: border-box;
}
:root {
    --ff: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
html {
    height: 100vh;
    overflow: hidden;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

h1 {
    background-color: #f1f1f1;
    border-bottom: 1px solid #aaa;
    /* box-shadow: 0 -9px 10px 7px #888; */
    color: #000;
    font: 500 25px/30px var(--ff);
    display: block;
    padding: 15px;
    margin: 0;
    width: 100%;
    z-index: 100
}

main {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
}

#message_container {
    flex: 1;
    overflow: auto;
}
table {
    font: 400 17px/20px var(--ff);
    border-collapse: collapse;
    width: 100%;
}
thead {
    background: #eee;
    font-weight: 500;
}
td {
    border: 1px solid #aaa;
    padding: 5px 10px;
}
tr:first-child td { border-top: none; }
tr td:first-child { border-left: none; width: 70%; }
tr td:last-child { border-right: none; width: 30%; }

#message_input {
    background-color: #eee;
    box-shadow: 0 9px 10px 7px #555;
    display: flex;
    width: 100%;
}
#message_input_field {
    appearance: none;
    border: none;
    color: #000;
    font: 400 20px/25px "Courier", monospace;
    display: block;
    flex: 1;
    margin: 0;
    padding: 15px;
}
#disconnect {
    appearance: none;
    background-color: #f1f1f1;
    border: none;
    border-left: 1px solid #aaa;
    color: #000;
    cursor: pointer;
    display: block;
    font: 400 20px/25px "Courier", monospace;
    margin: 0;
    padding: 15px;
    width: 200px;
}
#disconnect:hover {
    background-color: #eaeaea;
}

#connect_layover {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    position: absolute;
}
#connect_backdrop {
    background-color: rgba(0, 0, 0, .4);
    height: 100%;
    width: 100%;
}
#connect_content {
    border: 1px solid #aaa;
    background-color: #fff;
    left: 50%;
    padding: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 600px;
}



#output {
    margin-top: 1em;
}

#output p {
    margin: 0.2em;
}

.inputfield {
    height: 2em;
    padding: 0.1em 2em;
    display: inline-block;
    border-radius: 5px;
}

label {
    margin-right: 2%;
}

#url {
    width: 27.5%;
}

#message {
    width: 50%;
}
/*
button {
    text-align: center;
    font-size: 140%;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 1em;
    height: 2.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s;
    padding: 0.3em;
} */
/*
button:hover {
    color: white;
    border-radius: 15px;
} */

.b-green {
    border: 5px solid #45a049;
}

.b-red {
    border: 5px solid red;
}

#send {
    margin-top: 1%;
    width: 20%;
}

.b-green:hover {
    background-color: #45a049;
}

.b-red:hover {
    background-color: red;
}

.container {
    display: flex;
    align-items: center;
    margin-bottom: 2%;
}

/***********Alerts***********/

#alerts {
    display: flex;
    justify-content: flex-end;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    width: 44%;
    border-radius: 0.5em;
    position: absolute;
}

.alert.success {
    background-color: #04AA6D;
}

.alert.info {
    background-color: #2196F3;
}

.alert.warning {
    background-color: #ff9800;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.color-wipe {
    background-color: transparent;
    overflow: hidden;
    box-shadow: none;
}

.color-wipe:hover {
    color: white;
}

.color-wipe::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s, border 0.3s;
}

.color-wipe:hover::before {
    opacity: 0;
}

/* The two translate values still need improvement, they are not always centered */

.color-wipe::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background-color: #45a049;
    border-color: transparent;
    border-radius: 50%;
    transform: translate(40%, -40%) scale(0.1);
    opacity: 0;
    z-index: -1;
    transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}

.color-wipe:hover::after {
    opacity: 1;
    transform-origin: 100px 100px;
    transform: scale(1) translate(40%, -40%);
}

.color-wipe {
    position: relative;
    transition: color 0.5s, transform 0.2s, background-color 0.2s, border-radius 0.4s;
}
