name: Build and Deploy
on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4

      - name: Install and Build
        run: |
          npm ci
          npx tsc
          mkdir docs
          cp src/index.html docs/index.html
          cp src/style.css docs/style.css
          cp src/websocket.js docs/websocket.js

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4.1.4
        with:
          branch: gh-pages
          folder: .
